<nav class="navbar navbar-default navbar-fixed">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Elsk Danmark
				<i class="fa fa-home" aria-hidden="true"></i>
			</a>
		</div>
		<side-menu-button (open)="onOpen($event)" (close)="onClose($event)" ></side-menu-button>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<div class="user-pic dropdown-toggle"  data-toggle="dropdown" style="background-image:url('/src/assets/images/img.jpg')"> 
				</div>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-user-secret" aria-hidden="true"></i> Profile</a></li>
					<li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
				</ul>
			</li>
			<li>
				<span class="username"  >John Doe</span>
			</li>

		</ul>
	</div>
</nav>
<sidebar-comp [@slideInOut]="menuState"></sidebar-comp>
