:host {
  background: #545863;
  color: #fff;
  position: fixed;
  right: auto;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
