ul.tab {
    list-style-type: none; 
    margin: 30px 0 0 0; 
    padding: 0 0 0.9em 0; 
}
ul.tab li {
    display: inline;
}
ul.tab li a {
    color: #42454a;
    border-bottom: none;
    line-height: 20px;
    padding: 1em;
    text-decoration: none;
}
ul.tab li a:hover { 
    background-color: #f1f0ee;
}
ul.tab li a.active {
    color: #000;
    background-color: #fff;
    border: 1px solid #c9c3ba;
    font-weight: bold;
    border-bottom: 2px solid white;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}
div.tabContent {
    border-top: 1px solid #c9c3ba; 
    padding: 1.5em; 
    background-color: #fff;
}
